{
    "extends" : [
        "airbnb",
        "airbnb-typescript"
    ],
    "rules": {
        "@typescript-eslint/indent": ["error", 4],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "comma-dangle": "off",
        "max-len": ["error", 120],
        "no-console": "error",
        "no-param-reassign": "off"
    }
}
