{
    "extends" : [
        "airbnb",
        "airbnb-typescript",
        "plugin:json/recommended"
    ],
    "settings": {
        "import/resolver": {
            "node": {},
            "webpack": {
                "config": "build/webpack.config.js"
            }
        }
    },
    "globals": {
        "CONFIG": false
    },
    "overrides": [
        {
            "files": ["*.ts", "*.tsx"],
            "rules": {
                "simple-import-sort/sort": [
                    "error",
                    {
                        "groups": [
                            // External packages come first.
                            ["^[^_]"],
                            // Internal packages.
                            ["^(_components|_contexts|_apollo|_client)"],
                            // Relative imports.
                            ["^\\.\\./", "^\\./"]
                        ]
                    }
                ]
            }
        }
    ],
    "plugins": ["simple-import-sort"],
    "rules": {
        "@typescript-eslint/indent": ["error", 4],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "comma-dangle": "off",
        "max-len": ["error", 120],
        "no-console": "error",
        "no-param-reassign": "off",
        "object-curly-newline": [
            "error",
            {
                "multiline": true,
                "consistent": true
            }
        ],
        "arrow-body-style": "off",
        "react/jsx-props-no-spreading": "off",
        "semi": "error",
        "import/no-named-as-default": "off",
        "newline-before-return": "error",
        "class-methods-use-this": "off",
        "import/prefer-default-export": "off",
        "react/jsx-one-expression-per-line": "off",
        "react/no-array-index-key": "off",
        "max-classes-per-file": "off",
        "import/newline-after-import" : ["error", { "count": 2 }],
        "jsx-a11y/accessible-emoji" : "off",
        "@typescript-eslint/member-delimiter-style": ["error"],
        "curly": ["error", "all"],
        "@typescript-eslint/brace-style": [
            "error",
            "1tbs",
            {
                "allowSingleLine": false
            }
        ],
        "simple-import-sort/sort": "error",
        "sort-imports": "off",
        "import/first": "error",
        "import/no-duplicates": "error"
    }
}
